body{
  max-height: 80%;
}

.score-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #8a8a8a;
  }
  .point_num{
    padding: 10px;
  }
  .questions_num{
    padding: 10px;
  }
  
  .score-wrapper > * {
    margin: 0;
  }
  
.question-container{
    width: 100vw;
    height: 80%;
    text-align: center;
}

.image-container img{
    width: 25%;
    height: auto;
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.captions{
    display: inline-block;
  }

.captions h1{
    font-family: 'Yuji Mai';
    font-size: 100px;
}

.btn_wrapper .btn{
    padding: 1% 7%;
    font-family: 'Noto Sans JP';
    font-weight: bold;
    font-size: 30px;
    margin-top: 1%;
    border-width: 4px;
    border-radius: 15px;
}

.btn_wrapper .btn{
  color: #F64444;
  border-color: #F64444;
}

.btn_wrapper .btn:hover{
  color: #fff;
  background-color: #F64444;
  border-color: #F64444;
}

/* タブレットサイズ */
@media (max-width:768px) {
  .image-container img{
    width: 50%;
  }
  .btn_wrapper .btn{
  padding: 1% 6%;
  }
}

/* スマホサイズ */
@media (max-width:425px) {
  .image-container img{
    width: 70%;
  }
  .btn_wrapper .btn{
    padding: 2% 6%;
    font-size: 20px;
    margin-top: 10%;
    border-width: 3px;
    border-radius: 15px;
  }
}
