/* 
font-family: 'Bungee Shade', sans-serif;メインページの大きなHon! Pon! Bon!の候補
font-family: 'Noto Sans JP', sans-serif;キレイめな英語フォント
font-family: 'Noto Serif JP', serif;　キレイめな英語フォント
font-family: 'Roboto', sans-serif; 普通の日本語フォント
font-family: 'Tourney', sans-serif;　メインページの大きなHon! Pon! Bon!の候補
font-family: 'Yuji Mai';　習字
*/

h1{
  color: #f64444;
}
.loop_wrap{
  font-family: 'Bungee Shade', sans-serif;
  font-size: 160px;
  color: #f64444;
  margin-top:0px;
}


.zero{
  font-family: 'Yuji Mai';
  font-size: 200px;
}
.loop_wrap {
  display: flex;
  width: 100vw;
  height: 140px;
  overflow: hidden;
}

.loop_wrap {
  width: auto;
  height: 100%;
}


@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
.loop_wrap {
  flex: 0 0 auto;
  white-space: nowrap;
}

.loop_wrap div:nth-child(odd) {
  animation: loop 50s -25s linear infinite;
}

.loop_wrap div:nth-child(even) {
  animation: loop2 50s linear infinite;
}



.container{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.middle-container{
  display: inline-block;
  width: 100%;
}

.btn{
  padding: 1% 7%;
  font-family: 'Noto Sans JP';
  font-weight: bold;
  font-size: 30px;
  border-width: 4px;
  border-radius: 15px;
  margin-top: 20px;
}
.btn:hover{
  background-color: #fff;
  color: #f64444;
  border-color: #f64444;
}

.moji{
  font-size: 25px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  color: #8A8A8A;
}
.pic{
  display: inline-block;
  width: 40%;
  height: auto;
}

/* タブレットサイズでスクロールしなくていいようにサイズ変更 */
@media (max-width:768px) {
  .zero{
    font-size: 150px;
  }
  .pic{
    width: 50%;
    height: auto;
  }
}
/* スマホサイズで横並びの解除 */
@media (max-width:425px) {
  .container{
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .pic{
    width: 60%;
    height: auto;
  }
  .middle-container{
    display: inline-block;
    width: 100%;
  }
  .zero{
    font-size: 120px;
  }
  .moji{
    font-size: 12px;
  }
}
